<!--head-->
<%- include('./partials/head') %> 
<body>
    <header>
        <nav class="navbar navbar-light bg-info fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ZUKUNA STORE</a>
          
              <form class="d-flex">
                <input class="form-control me-2" type="BUSCAR PRODUCTOS" placeholder="BUSCAR PRODUCTOS" aria-label="BUSCAR PRODUCTOS">
                <button class="btn btn-light" type="submit">BUSCAR</button>
              </form>
            </div>
          
      </nav>

    </header>
    
<main>
   <div class="row">
<div class= "col-12 col-lg-10 mx-auto shadow">
  <div class="card">
<div class="card-header">
  <%= title %>

</div>
<div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <% products.forEach((product,index) => {     %>

        <tr>
          <th scope="row"><%= index + 1 %>   </th>    
        <td> <img width= "100" src="/images/<%= product.image %>" alt="">  </td>
            <td><%= product.name %> </td>
            <td><%= product.price %> </td>
           <td>

             <button class="btn btn-sm btn-success" style="width: 35px;">   <i class="fas fa-edit"></i> </button>
             
             <form action="/products/destroy/<%= product.id %>?_method=DELETE" method="POST"></form>

             <button class="btn btn-sm btn-danger" style="width: 35px;" >   <i class="fas fa-trash"></i> </button>
           </form>
           </td>
        </tr>


      <% } )%>
      
      
  </table>



</div>
  </div>
  
</div>

   </div> 

  
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>