<!--head-->
<%- include('./partials/head' , {title:'Editar producto'}) %> 
<body class="bg-light">
  <!--HEADER-->
  <%- include('./partials/headerAdmin') %> 
    
<main class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mt-5 mx-auto">
            <div class="card p-4">
                <div class="card-header bg-info"> 
                     <h2>Editar producto</h2>
                </div>
              <div class="card-body">                           
                    <form action="/products/update/<%= product.id %>?_method=PUT" class="row" method="POST" enctype="multipart/form-data">

                      <div class="row" >
                          <div class="col-12"> 
                              <div class="form-floating mb-3 ">
                        <input type="text" class="form-control" id="name" placeholder="Nombre de producto" name="name" value="<%= product.name %>">
                        <label for="name">Nombre de producto</label>
                      </div>
                    </div>
                      <div class="col-12">
                          <div class="form-floating mb-3">
                        <textarea name="description" style="resize: none; height: 100px" class="form-control" placeholder="Descripción de producto" id="floatingTextarea"><%= product.description %></textarea>
                        <label for="floatingTextarea">  Descripción </label>
                    </div>
                    
                        <div class="form-floating col-md-6 mb-3">
                        <input name="price" type="number" class="form-control" id="price" value= "<%= product.price %>" >
                        <label for="price">Precio</label>
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating col-md-6 mb-3">
                        <input name="discount" type="number" class="form-control" id="discount" value= "<%= product.discount %>">
                        <label for="discount">Descuento</label>
                      </div>
                    </div>
                         
                      <div class="col-12 col-md-6">
                        <div class="form-floating">
                          <select name="category" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected  hidden>elegí la categoría</option>
                            <% categories.forEach(categoria => {  %>
                              <option value="<%=categoria.id%>" <%=product.categoryId == categoria.id ? "selected" : null %> > <%=categoria.name%> </option>
                              
                            <% }) %>
                            
                          </select>
                          <label for="floatingSelect">categoría</label>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="mb-3 ">
                          <label for="image" class="btn btn-outline-info w-100 ">subir imagen</label>
                          <input name="image" hidden class="form-control" type="file" id="image">
                        </div>
                      </div>
                      
                  <div class="col-12 mt-3"> 
                    <button type="submit" class="btn btn-outline-info ">Guardar</button> </div>
               
                    </div>
                
                    
              </form>
              </div>
            
        </div>
    </div>
        
    </div>
    
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>