<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title : 'Agregar producto'}) %> 

<body class="bg-light">
  <%- include('./partials/header') %> 

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mt-5 mx-auto">
                <div class="card">
                    <div class="card-header text-light bg-dark">
                        <h4>Perfil de usuario</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <img class="img-fluid rounded-start" src="/images/users/<%= user.avatar %> "  alt="">
                            </div>
                            <div class="col-12 col-md-8">
                                <form class="row" method="POST" enctype="multipart/form-data">
                                    <div class="col-12 mb-3">
                                        <div class="form-floating ">
                                            <input type="text" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" id="name" placeholder="Nombre " name="name" value="<%= user.name %>">
                                            <label for="name">Nombre</label>
                                          </div>
                                          <span class="text-danger small ms-2"><%= locals.errors && errors.name ? errors.name.msg : null%> </span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="form-floating ">
                                            <input type="text" class="form-control" id="email" placeholder="Email" name="email" value="<%= user.email %>" disabled>
                                            <label for="email">Email</label>
                                          </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="form-floating ">
                                            <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" >
                                            <label for="email">Cambiar contraseña</label>
                                          </div>
                                          <span class="text-danger small ms-2"><%= locals.errors && errors.password ? errors.password.msg : null%> </span>

                                    </div>
                                   <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label for="avatar" class="btn btn-outline-secondary w-100 mt-2">Subir imagen de perfil</label>
                                        <input hidden class="form-control" type="file" id="avatar" name="avatar">
                                      </div>
                                   </div>
                                    <div class="col-12 mt-5">
                                        <button type="submit" class="btn btn-outline-dark w-100">Guardar cambios</button>
                                    </div>
                              </form>
                            </div>
                        </div>
                        
                    </div>
                   
                </div>
            </div>
           
        </div>
    </main>

    <%- include('./partials/scripts') %> 

</body>
</html>