<%-include('./partials/head', {title : 'Resultados de tu búsqueda' }) %>

    <body class="home">
        <%- include('./partials/header') %>

<main>
            <div class="destacados">
                <h3>Resultados de tu búsqueda:</h3>
                <div class="conteiner">
                    <% products.forEach(product=> { %>
                        <div class="img-destacadas">
                            <div class="img1"><a href="/products/detail/<%= product.id %> ">
                                    <img src="/images/products/<%= product.image %> " alt=""></a>

<<<<<<< HEAD
=======
        <div class="container products-wrapper"> 
            <div>
>>>>>>> 3faebe517df3b97d68f6751cf4a532539a3b84d2

                                <div class="products-title">
                                    <h2>
                                        <%= product.name %>
                                    </h2>

                                    <% if (product.discount> 0) { %>
                                        <h2>$<%= toDiscount(product.price, product.discount)%>
                                        </h2>
                                        <span>
                                            <%= product.discount %> % OFF
                                        </span>
                                        <% } else { %>
                                            <h2>$<%= toThousand(product.price)%>
                                            </h2>
                                            <% } %>

                                                <div class="carrito-compra"><a href="/carrito"><i
                                                            class="fas fa-cart-plus"></i>
                                                    </a>
                                                </div>
                                </div>


                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </main>


<<<<<<< HEAD
            <footer>
                <%- include('./partials/footer') %>
            </footer>
    </body>
=======
<footer>
    <%- include('./partials/footer') %>
</footer>
    </body> 
>>>>>>> 3faebe517df3b97d68f6751cf4a532539a3b84d2
