<%-include('./partials/head', {title : 'Resultados de tu búsqueda'}) %>

    <body class="body-results">
        <%- include('./partials/header') %>


        <div class="container products-wrapper">
            <div>

                <% if (products.length > 0) { %>
                    <% products.forEach(product=> { %>

                        <div class="col-12 col-sm-6 col-lg-3">
                                <section class="conteiner">
                                    <a href="/products/detail/<%= product.id %>">
                                        <figure>
                                            <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                                        </figure>
                                        <article>
                                            <% if (product.discount > 0) { %>
                                                <h2>$<%= toDiscount(product.price, product.discount)%></h2>
                                                <span><%= product.discount %> % OFF</span>
                                                <% }else{ %>
                                                    <h2>$<%= toThousand(product.price)%></h2>
                                                    <% } %>
                                                        <p><%= product.name %> </p>
                                                        <i class="fas fa-truck"></i>
                                        </article>
                                    </a>
                                </section>
                            </div>
                                <% }) %>
                <% }else{ %>
                <div>
                    <h2 class="products-title" style="color: red;">No hay productos que coincidan con tu búsqueda.</h2>
                </div>
                <% } %>
            </div>
        </div>


<footer>
    <%- include('./partials/footer') %>
</footer>
    </body>